{
    email you@example.com
}

demo.example.com {
    encode gzip

    reverse_proxy /api/* backend:8000
    reverse_proxy /health backend:8000
    reverse_proxy /ready backend:8000
    reverse_proxy frontend:80
}
